<%- include('partials/header') -%>
<style>
    td {
        width: 40px;
    }
</style>
<div class="container mt-2">
    <%- include('partials/messages') -%>
    <h1 class="text-center" style="color: cornflowerblue;">Dashboard</h1><br>
    <div class="row">
        <div class="col-9">
            
                    <% if(newLinks.length == 0){ %>
                        <!-- <h1 style="color: coral;">No links are uploaded yet</h1> -->
                        <br><br>
                        <div class="text-center mt-5">
                        <i class="fa fa-5x fa-database" style="color: rgb(155, 155, 155);" aria-hidden="true"></i>
                        <h3 style="color: rgb(155, 155, 155);">You list is empty!</h3>
                    </div>
                    <% } %>
                    <% if(newLinks.length != 0) { %>
                        <table
                class="table table-hover table-bordered table-stripped"
                id="infoTable"
            >
                <thead>
                    <tr>
                    <th scope="col" width="5%">Link</th>
                    <th scope="col">Description</th>
                    <th scope="col">course</th>
                    <th scope="col">Date</th>
                    <th scope="col">Department</th>
                    <th scope="col">Semester</th>
                    </tr>
                    <% for (var i = 0; i < newLinks.length; i++) { %>
                        <tr>
                          <td><%= newLinks[i].link.substring(0,30) %></td>
                          <td><%= newLinks[i].des %></td>
                          <td><%= newLinks[i].course %></td>
                          <td><%= newLinks[i].date %></td>
                          <td><%= newLinks[i].dept %></td>
                          <td><%= newLinks[i].sem %></td>
                        </tr>    
                       <% } %>
                       <% } %>
                </thead>
            </table>
        </div>
        <div class="col-3">
            <form action="/dashboard" method="POST">
                <input class="form-control mt-1" type="text" name="link" placeholder="link">
                <input class="form-control mt-1" type="text" name="description" placeholder="description">
                <input class="form-control mt-1" type="text" name="course" placeholder="course name">
                <input class="form-control mt-1" type="date" name="date" placeholder="date">
                <input class="form-control mt-1" type="text" name="department" placeholder="department">
                <input class="form-control mt-1" type="text" name="sem" placeholder="semester">
                <button class="btn btn-primary mt-2" type="submit">Add Link</button>
            </form>
        </div>
    </div>
    
</div>
<%- include('partials/footer') -%>


